.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;

  &__title {
    color: #333;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 10em;

    .button {
      padding: 10px;
      background-color: #707a7b;
      color: white;
      border: none;
      border-radius: 10px;
      font-size: 1em;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}
