@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: #d3e4de;
}

@keyframes fadeInHighlight {
  0% {
    border-color: theme("colors.blue.500");
    background-color: theme("colors.blue.50");
  }
  100% {
    border-color: theme("colors.gray.300");
    background-color: white;
  }
}

.new-entry {
  animation: fadeInHighlight 4s ease-in-out;
}
